header{
    display: flex;
    justify-content: center;
    /* background-color: #49af9a; */
    background: linear-gradient(to bottom, #49AF9A 0%, #417568 90%);
}
.header-container{
    position: relative;
    z-index: 1;
    height: 200px;
    width: 1000px;
}
.header-button{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
}
.logo{
    margin-left: 30px;
    margin-right: 30px;
    height: 150px;
}
