.news_content{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    /* width: ;   */
}
.news{
    display: flex;
    height: 100vh;
    width: 800px;
    justify-content: space-around;
}
.news_item{
    height: 50px;
    width: 200px;
    background-color: #49af9a;
    color: white;
}
