.App {
  text-align: center;
}

.background{
  margin: 0;
  height: 100vh;
  background-image: url('Shadowlands.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  /* background-color: white;
  opacity: 60%; */
} 

.content{
  display: flex;
  height: 800px;
  width: 800px;
}

.social_media{
  height: 100vh;
  width: 500px;
}
.player{
  height: 100vh;
  width: 500px;
}